/* Main Layout Container */
.container {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: #eaeded; /* Light grey background */
  gap: 20px;
}

/* Left side: Product List */
.cart__container {
  flex: 0.8;
  background-color: white;
  padding: 20px;
}

.cart__container h1 {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 10px;
}

.cart__container h3 {
  font-weight: 400;
}

/* Individual Product Row */
.cart_product {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 20px 0;
  
}

/* Quantity Control Buttons */
.cart_buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.cart_buttons button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart_buttons button:hover {
  color: #d8b252;
}

.increment_btn, 
.decrease_btn {
  background-color: #febd69;
  border: 1.5px solid #a88734;
  border-radius: 4px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s;
}

.increment_btn:hover, 
.decrease_btn:hover {
  background-color: #f1a848;
}

.amount {
  font-weight: 600;
  font-size: 1.1rem;
}

/* Right side: Subtotal Summary Box */
.cart__summary {
  flex: 0.2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: fit-content;
  padding: 20px;
  background-color: #f3f3f3;
  border: 1px solid #dddddd;
  border-radius: 3px;
}

.subtotal {
  font-size: 1.2rem;
  margin-bottom: 15px;
}

.this_order_contains {
  margin-left: 5px;
}

.checkout__button {
  background: #f0c14b;
  border-radius: 2px;
  width: 100%;
  height: 35px;
  border: 1px solid;
  margin-top: 15px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 14px;
}

.checkout__button:hover {
  background: #ddb347;
}

/* Responsive view for Tablets and Phones */
@media (max-width: 990px) {
  .container {
    flex-direction: column;
  }

  .cart__summary {
    width: 100%;
    flex: 1;
  }
}