.carousel_container {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.carousel_image {
  width: 100%;
  height: 600px; /* እንደ ምርጫህ አስተካክለው */
  object-fit: cover;
}

.gradient_overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 250px;
  background: linear-gradient(to bottom, transparent, rgba(234, 237, 237, 1));
  z-index: 10;
}