.detail_wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 50px;
  gap: 40px; /* በምስሉ እና በጽሁፉ መካከል ክፍተት ይሰጣል */
}

/* ስክሪኑ ሲጠበብ (ለሞባይል) ወደታች እንዲወርዱ */
@media (max-width: 768px) {
  .detail_wrapper {
    flex-direction: column;
    align-items: center;
  }
}